{% extends 'base.html.twig' %}

{% block title %}Réaliser un billetage{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header bg-soft-custom">
                    Efféctuer le billetage d'une caisse
                </div>
                <div class="widget-content custom-padding">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ include('billetage/_form.html.twig') }}

                    <div class="form-actions">
                        <button class="btn btn-primary pull-right ml-2">Enregistrer</button>
                        <a class="btn btn-info pull-right" style="color: white" href="{{ path('app_welcome') }}">Retour</a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}