{% extends 'base.html.twig' %}


    {% block title %}
        Caisse - Connexion
        
    {% endblock %}
    {% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Connexion</h3>
        <form action="{{ path('app_login') }}" method="post">

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" name="_username" />
                <label class="form-label" for="typeEmailX-2">Email</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="_password"/>
                <label class="form-label" for="typePasswordX-2">Password</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Se connecter</button>
        </form>
    {% endblock %}










