<li class="menu-header">IMPRESSION</li>
<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-file-alt p-2"></span>
		<span class="menu-text">Fiche de besoin</span>
	</a>
	<!-- child menu -->
	<ul class="menu">
		<li class="menu-item {{ app.request.get('_route') == 'fdb_approuve' ? 'has-active': '' }}">
			<a href="{{ path('fdb_approuve') }}" class="menu-link">Liste</a>
		</li>

	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>


<li class="menu-item has-child">
	<a href="#" class="menu-link">
		<span class="fa-solid fa-hand-holding-usd p-2"></span>

		<span class="menu-text">Approvisionnement</span>
	</a>
	<!-- child menu -->
	<ul class="menu">

		<li class="menu-item {{ app.request.get('_route') == 'bonapprovisionnement_index' ? 'has-active': '' }}">
			<a href="{{ path('bonapprovisionnement_index') }}" class="menu-link">Liste</a>
		</li>

	</ul>
	<!-- /child menu -->
	<!-- .menu-item -->
</li>


