{% extends 'base.html.twig' %}

{% block title %}Nouvelle Fiche de Besoin{% endblock %}



{% block body %}

    <div class="col-12">
        {{ form_start(form) }}
        <div class="card card-fluid">
            <div class="card-header bg-soft-custom">
                <h6>Déclarer une fiche de besoin</h6>
            </div>
            <div class="card-body">
                {{ include('fdb/_form.html.twig') }}
            </div>
            <div class="card-footer">
                <div class="card-footer-content">
                    <button type="submit" class="btn btn-primary float-right ml-2">Enregistrer</button>
                    <a href="{{ path('fdb_index') }}" class="btn btn-info float-right"><i class="oi oi-home"></i> Retour</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}



