{% set j = journee_service.getActive() %}

<fieldset>
    <legend>Journée du {{ j.startedAt|date('d-m-Y H:i:s') }} </legend>
    <div class="form-group">
        <label class="col-md-4 control-label montantTotal-encaissement">Solde Théorique <span class="required">*</span></label>
        <div class="col-md-4 clearfix">
            {{ form_widget(form.balance,{'attr': {
                "class": 'form-control text-right separator ',
            }}) }}
            {{ form_errors(form.balance) }}
        </div>
    </div>

</fieldset>