<fieldset class="form-container">

    <legend>Nouvelle Journée</legend>

    <div class="row ">
        <div class="col-4">
            <div class="form-group">
                <label>Date <span class="required">*</span></label>

                {{ form_widget(form.startedAt) }}
                {{ form_errors(form.startedAt) }}

            </div>
        </div>
    </div>

</fieldset>

