<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-dark" id="myModalLabel">
                    <span class="uil uil-question-circle"></span>
                    Validation opération
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body font-size-14">
                Voulez-vous vraiment valider cette opération ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light font-weight-medium" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-outline-success font-weight-medium" name="confirm" value="confirm">
                    Confirmer
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<button type="button" class="btn btn-success float-right ml-2" data-toggle="modal" data-target="#myModal">
    <i class="fa fa-check"></i> Valider
</button>