<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORBIS CAISSE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ encore_entry_link_tags('app') }}
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="//pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" data-skin="default">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">

    {% block stylesheet %}
        <style>
            table.noborder, table.noborder tr, table.noborder th, table.noborder td {
                border: none !important;
            }

            fieldset > legend {
                color: inherit;
                margin-bottom: 1rem;
                font-size: 1rem;
                border-bottom: 1px solid rgb(225, 231, 214);
            }

            table {
                border: solid #808080 !important;
                border-width: 2px 0 0 2px !important;
            }
            th, td {
                border: solid #808080 !important;
                border-width: 0 1px 1px 0 !important;
            }

            .container {
                margin-top: 20px;
            }

            /* Style pour le bouton "Imprimer" */
            .print-button {
                display: block;
                margin: 20px auto; /* Centrer le bouton horizontalement */
                padding: 10px 20px; /* Ajuster le padding pour rendre le bouton plus grand */
                background-color: #041b48; /* Couleur de fond */
                color: white; /* Couleur du texte */
                border: none;
                border-radius: 5px; /* Coins arrondis */
                cursor: pointer;
            }

            .print-button:hover {
                background-color: #0d84de; /* Couleur de fond au survol */
            }

            /* Ajustement pour le format A5 */
            @media print {
                .btn-print, .btn-home {
                    display: none;
                }
                .btn-back {
                    display: none;
                }

                #information-right, #information-left {
                    float: right !important;
                    width: 100px;
                }

                /* Définir la taille de la page en A5 */
                @page {
                    size: A5;
                    margin: 1cm;
                }

                body {
                    font-size: 12px;
                }

                .receipt-container {
                    margin: 10px;
                }

                .header p {
                    font-size: 10px;
                }

                .title-box {
                    margin: 10px 0;
                    padding: 5px;
                    font-size: 14px;
                }

                fieldset {
                    margin-top: 10px;
                    padding: 5px;
                }

                legend {
                    font-size: 14px;
                }

                .main-content div {
                    margin-bottom: 3px;
                }

                .table th, .table td {
                    padding: 3px;
                }

                .approved-by p {
                    font-size: 10px;
                }

                /* Style spécifique pour l'impression */
                .card-body {
                    margin: 0;
                    padding: 0;
                    border: none;
                    width: 100%;
                    height: auto;
                    page-break-after: always;
                }

                #header {
                    padding: 2px;
                    width: 100%;
                    white-space: nowrap;
                    text-align: center;
                    color: black;
                    margin-left: 60px;
                }

                #secendhead {
                    padding: 2px;
                    width: 100%;
                    white-space: nowrap;
                    text-align: center;
                    color: black;
                    margin-left: 160px;
                }

                .table {
                    width: 100%;
                    border-collapse: collapse;
                    margin-bottom: 20px;
                    font-size: 12px;
                    border: solid 1px black;
                }

                .table th,
                .table td {
                    padding: 10px;
                    text-align: center;
                    white-space: nowrap;
                }

                .table thead th,
                .table tbody td {
                    width: 100%;
                }
            }
        </style>
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <section class="container">
        {% block body %}

        {% endblock %}
    </section>
</div>

{{ encore_entry_script_tags('app') }}

<!-- Bouton "Imprimer" centré -->
<button class="print-button" onclick="window.print()">Imprimer</button>

<script type="text/javascript">
    // window.addEventListener("load", ev => window.print());
</script>
</body>
</html>
