<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ORBIS CAISSE </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <!-- Font Awesome -->
    {{ encore_entry_link_tags('app') }}
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="//pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/theme.min.css') }}" data-skin="default">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    {% block stylesheet %}
        <style>
            table.noborder, table.noborder tr, table.noborder th, table.noborder td {
                border: none !important;
            }

            fieldset > legend {
                color: inherit;
                margin-bottom: 1rem;
                font-size: 1rem;
                border-bottom: 1px solid rgb(225, 231, 214);
            }

            table, table {
                border: solid #808080 !important;
                border-width: 2px 0 0 2px !important;
            }
            th, td {
                border: solid #808080 !important;
                border-width: 0 1px 1px 0 !important;
            }

            .container {
                margin-top: 20px;
            }
        </style>
        <style>
            @media print {
                .btn-print, .btn-home  {
                    display: none;
                }
                .btn-back {
                    display: none;
                }

                #information-right {
                    float: right !important;
                    width: 100px;
                }

                #information-left {
                    float: right !important;
                    width: 100px;
                    margin-top: 140px;
                }

            }

            @page {
                size: 21cm 29.7cm;
                margin: 1.00cm 1.5cm 2.54cm 1.5cm;
                /* change the margins as you want them to be. */
            }
        </style>
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <!-- Main content -->
    <section class="container">
        {% block body %}

        {% endblock %}
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->

{{ encore_entry_script_tags('app') }}
<script type="text/javascript">
    window.addEventListener("load", ev => window.print());
</script>
</body>
</html>
