<fieldset>
    <legend>Identification</legend>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="code">Code</label>
                {{ form_widget(form.code, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="col-md-5">
            <div class="form-group">
                <label for="intitule">Intitulé</label>
                {{ form_widget(form.intitule, {'attr' : {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="user">Caissier</label>
                {{ form_widget(form.user, {'attr' : {'class': ' select2'}}) }}
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="plafond">Plafond</label>
                {{ form_widget(form.plafond, {'attr' : {'class': 'form-control '}}) }}
            </div>
        </div>
    </div>

</fieldset>
