{% extends 'base.html.twig' %}

{% block title %}Solde de la Caisse{% endblock %}

{% block body %}
    <h1>Solde de la Caisse: {{ caisse.intitule }}</h1>
<p>Responsable: {{ caisse.responsable }}</p>
    <p>Gérant(e): {{ caisse.gerant }}</p>
    <p>Solde Disponible: {{ soldeDisponible }} €</p>
{% endblock %}
