{% extends 'base.html.twig' %}

{% block title %}Impression - Bon d'Approvisionnement{% endblock %}

{% block body %}
    <h1>Imprimer - Bon d'approvisionnement </h1>
    {#<div class="printable">#}
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Mode de paiement</th>
            <th>Montant total</th>
            <th>Nature</th>

        </tr>
        </thead>
        <tbody>
        {% for bonapprovionnement in bonapprovisionnement %}
            <tr>
                <td>{{ bonapprovionnement.date|date('Y-m-d') }}</td>
                <td>{{ bonapprovionnement.modepaie }}</td>
                <td>{{ bonapprovionnement.montanttotal }}</td>
                <td>{{ bonapprovionnement.nature }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#{% block stylesheets %}#}
    {#<style>#}

    {#    @media print {#}
    {#        body * {#}
    {#            visibility: hidden;#}
    {#        }#}
    {#        .printable, .printable * {#}
    {#            visibility: visible;#}
    {#        }#}
    {#        .printable {#}
    {#            position: absolute;#}
    {#            left: 0;#}
    {#            top: 0;#}
    {#        }#}
    {#    }#}


    {#</style>#}
    {#{% endblock %}#}

    {#    <button onclick="window.print()">Imprimer</button>#}


{% endblock %}

