{% extends 'base.html.twig' %}

{% block title %}Impression - Depense{% endblock %}

{% block body %}
   <h1>Imprimer - Liste depense </h1>
{#<div class="printable">#}
    <table>
        <thead>
        <tr>
            <th>date</th>
            <th>montant</th>
            <th>categorie</th>
            <th>modepaie</th>

        </tr>
        </thead>
        <tbody>
        {% for depense in depense %}
            <tr>
                <td>{{ depense.date|date('d-m-Y') }}</td>
                <td>{{ depense.montant }}</td>
                <td>{{ depense.categorie }}</td>
                <td>{{ depense.modepaie }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#{% block stylesheets %}#}
{#<style>#}

{#    @media print {#}
{#        body * {#}
{#            visibility: hidden;#}
{#        }#}
{#        .printable, .printable * {#}
{#            visibility: visible;#}
{#        }#}
{#        .printable {#}
{#            position: absolute;#}
{#            left: 0;#}
{#            top: 0;#}
{#        }#}
{#    }#}


{#</style>#}
{#{% endblock %}#}

{#    <button onclick="window.print()">Imprimer</button>#}


{% endblock %}

