
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mot de passe oublié</h1>
    <form method="post">
        <input type="text" name="fullName" placeholder="Nom utilisateur" required>
        <button type="submit">Envoyer le lien de réinitialisation</button>
    </form>
{% endblock %}
